<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
	<listeners>
		<listener class-name="com.tutorialsninja.listeners.MyListeners"/>
		
	</listeners>
  <test thread-count="5" parallel="classes" name="Test">
    <classes>
      <class name="com.NinjaEcommerceTestCases.LoginTest"/>
      <class name="com.NinjaEcommerceTestCases.AddToCartTest"/>
      <class name="com.NinjaEcommerceTestCases.RegisterFunctionalityTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
